<%= @post.prefecture.prefecture_name %>
<%= @post.mountain_name.mountain_name %>
<%= @post.user.id %>

<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <%= form_with model:[@post, @comment], local: true do |f| %>
        <h5>コメント</h5>
        <%= f.text_area :content, class: "form-control mb-3", placeholder: "コメント" , rows: "4" %>
        <%= f.submit 'コメント投稿', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <% @comments.each do |comment|%>
   <%= comment.post.user.id %><br>
   <%= comment.content %>
  <% end %>
   
</div>
