<div class="container">
	<div class="row text-center">

<!--場所、アイテムジャンル絞り込み検索結果一覧部分-->
<div class="col-md-12">
      <div class="box">
        <table class='col-md-10 table table-hover table-inverse' style="background-color: #fff; margin: 10px auto;">
        <tbody>
          <% @result.each do |post| %>
            <tr>
              <td>
                <%= link_to post_path(post.id) do %>
                  <% if post.post_images.present? %>
                      <% post.post_images.each do |image| %>
                        <%= attachment_image_tag image, :image, :fill, 150, 150 %>
                      <% end %>
                  <% else %>
                      <%= image_tag 'no_image.png', size: '150x150' %>
                  <% end %>
                <% end %>
              </td>
              <td><%= post.item_genre.name %></td>
              <td><%= link_to "#{post.place.name}・#{post.prefecture.prefecture_name}", post_path(post.id) %></td>
              <td><%= post.found_day %></td>
              <td>コメント数: <%= post.comments.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
<!--場所、アイテムジャンル絞り込み検索結果一覧部分-->
 <div class="col-md-4 post-content pagenation"><%= paginate @result %></div>

	</div>
</div>