<div class="container">
	<div class="row text-center">
	
  <!--検索フォーム-->
  <div class="col-md-12">
    <div class="box" style="color: #fff; font-size: 20px;">
      <h3 style="color: #fff; margin: 10px auto;">絞り込み検索</h3>
      <%= search_form_for(@q, url:look_for_path) do |f| %>
        <!--詳細に対する部分検索-->
        <%= f.label :detail_cont, "キーワード検索" %>
        <%= f.search_field :detail_cont, placeholder: "例：赤,モンベル…", :size => "30*10"%> <br>
        <br>
        <!--期間で検索する-->
        <%= f.label  "期間" %>
        <%= f.date_field :found_day_gteq %> ~ <%= f.date_field :found_day_lteq %>
        
        <!--すでに絞り込んだ条件（場所、アイテムジャンル）-->
        <%= f.hidden_field :item_genre_id_eq, value: @item_genre.id %> 
        <%= f.hidden_field :place_id_eq, value: @place.id %> 
        <%= f.submit :"検索", class:"btn btn-info btn-lg" %>
      <% end %>
    </div>
  </div>
  <!--検索フォーム-->

<!--場所、アイテムジャンル絞り込み検索結果一覧部分-->
<div class="col-md-12">
      <div class="box">
        <% if @posts.present? %>
        <h3 style="color: #fff; margin: 10px auto;"> <%= "『#{@place.prefecture.prefecture_name}・#{@place.name}・#{@item_genre.name}』 検索結果"   %></h3>
        <%= link_to '戻る', :back,  class:"fas fa-undo btn btn-light"%>
        <table class='col-md-10 table table-hover table-inverse' style="background-color: #fff; margin: 10px auto;">
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td>
                <%= link_to post_path(post.id) do %>
                  <% if post.post_images.present? %>
                      <% post.post_images.each do |image| %>
                        <%= attachment_image_tag image, :image, :fill, 150, 150 %>
                      <% end %>
                  <% else %>
                      <%= image_tag 'no_image.png', size: '150x150' %>
                  <% end %>
                <% end %>
              </td>
              <td><%= post.item_genre.name %></td>
              <td><%= link_to "#{post.place.name}・#{post.prefecture.prefecture_name}", post_path(post.id) %></td>
              <td><%= post.found_day %></td>
              <td>コメント数: <%= post.comments.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
<!--場所、アイテムジャンル絞り込み検索結果一覧部分-->

 <div class="col-md-4 pagenation"><%= paginate @posts %></div>
<% else %>
<h3 style="color: #fff; margin: 10px auto;">該当する投稿はありませんでした。</h3>
<% end %>

<!--捜索願入力フォーム-->
<div class="col-md-12">
<div class="box">
<h3 style="color: #fff; margin: 10px auto;">捜索願</h3>
<p style="color: #fff;">見つかりませんでしたか？捜索願を提出しましょう。<br>場所とアイテムジャンルが同じ投稿を検知してお知らせします。</p>
<%= form_with model: @order, url: create_order_path, local:true do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
<div class="col-md-5 post-content">
  場所<br>
  <div style="font-size: 20px;" ><%= @place.prefecture.prefecture_name %>・<%= @place.name %> </div>
  <%= f.hidden_field :prefecture_id, value: @place.prefecture.id %>
  <%= f.hidden_field :place_id, value: @place.id %>
</div> 

<div class="col-md-5 post-content" >
  アイテムジャンル<br>
  <div style="font-size: 20px;"> <%= @item_genre.name%> </div>
  <%= f.hidden_field :item_genre_id, value: @item_genre.id %>
</div>

<div class="col-md-5 post-content" >
<div style="font-size: 20px;">タイトル</div>
<%= f.text_field :title, class: "form-control mb-1", placeholder: "例：黒のストック探しています。" %>  
</div>

<div class="col-md-10 post-content" >
<div style="font-size: 20px;">詳細</div>
<%= f.text_field :content, class: "form-control mb-1", placeholder: "例：△△ルートを歩きました。5合目の付近でないことに気が付きました。" %>  
</div>
<br>
<%= f.submit '提出', class:"btn-post" %>
<% end %>
</div>
</div>
<!--捜索願入力フォーム-->

	</div>
</div>