<h2>投稿ページ</h2>

<%= form_with model: @post, url: pick_up_create_path, local:true do |f| %>

<h3>都道府県・山名</h3> 
<%= @mountain_name.prefecture.prefecture_name %>・<%= @mountain_name.mountain_name %>
<%= f.hidden_field :prefecture_id, value: @mountain_name.prefecture_id %>
<%= f.hidden_field :mountain_name_id, value: @mountain_name.id %>
<h3>アイテムジャンル</h3>
<%= @item_genre.item_genre_name %>
<%= f.hidden_field :item_genre_id, value: @item_genre.id %>
<h3>日時</h3>
<%= f.date_field :found_day %> 
<h3>写真</h3>
<%= f.attachment_field :post_images_images, multiple: true %>
<h3>詳細情報</h3>
<%= f.text_field :detail %>
<h3>届け先</h3>
<%= f.text_field :strage_place %>  

<%= f.submit '投稿', class:"btn btn-primary" %>
<% end %>