<div class="container">
  <div class="row text-center">
    <div class="col-md-6" style="font-size: 30px; color: #fff; margin: 0 auto;">
      <div class="box text-center">投稿フォーム </div> 
    </div>
      <div class="col-md-12">
      <div class="box">
      <%= form_with model: @post, url: pick_up_create_path, local:true do |f| %>
      
      <div class="col-md-3 post-content">
        場所<br>
        <div style="font-size: 20px;" ><%= @place.prefecture.prefecture_name %>・<%= @place.name %> </div>
        <%= f.hidden_field :prefecture_id, value: @place.prefecture.id %>
        <%= f.hidden_field :place_id, value: @place.id %>
      </div> 
      
      <div class="col-md-3 post-content" >
        アイテムジャンル<br>
        <div style="font-size: 20px;"> <%= @item_genre.name%> </div>
        <%= f.hidden_field :item_genre_id, value: @item_genre.id %>
      </div>
      
      <div class="col-md-3 post-content" >
        日時<br>
        <%= f.date_field :found_day %> 
      </div>
      
      <div class="col-md-10 post-content" >
      <div style="font-size: 20px;"> 写真</div> <br>
      <%= f.attachment_field :post_images_images, multiple: true %>
      </div>
      
      <div class="col-md-10 post-content"  >
      <div style="font-size: 20px;">詳細情報</div> <br>
      <%= f.text_field :detail,  class: "form-control mb-1", placeholder: "拾った物や場所の詳細について教えて下さい。", rows: 10 %>
      </div>
      
      <div class="col-md-5 post-content" >
      <div style="font-size: 20px;">届け先</div>
      <%= f.text_field :strage_place, class: "form-control mb-1", placeholder: "例：xxx小屋,〇〇の交番" %>  
      </div>
      <br>
      <%= f.submit '投稿', class:"btn-post" %>
      <% end %>
      </div>
      </div>
  </div>
</div>