<div class="cotainer">
  <div class="row text-center">
    <div class="col-md-6 box" style="margin: 10px auto;">
      <h2 style="color: #fff;">ログインページ</h2>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :'メールアドレス' %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        
          <div class="field">
            <%= f.label :'パスワード' %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
        
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :'ログイン状態を維持する。' %>
            </div>
          <% end %>
        
          <div class="actions">
            <%= f.submit "ログイン", class:"btn btn-primary btn-lg"%>
          </div>
      <% end %>
      
      <%#= render "users/shared/links" %>
      </div>
  </div>
</div>