<div class="container">
  <div class="row text-center">
    <!--都道府県情報表示部分-->
    <div class="col-md-6" style="margin: 0px auto;">
      <div class="box">
        <h1 style="color: #fff;"><%= @prefecture.prefecture_name %></h1>
        <%= link_to '戻る', :back,  class:"fas fa-undo btn btn-light"%><br>
        <%= image_tag "prefectures/prefecture#{@prefecture.picture}.png", :size =>'300x300' %>
      </div>
    </div>
  </div>
    <!--都道府県情報表示部分-->
   
    
    <!--山名追加用フォーム-->
    <div class="row text-center my-5">
      <div class="col-md-8" style="margin: 0px auto;">
        <div class="box">
          <h5 class="mb-3"style="color: #000;">お探しの山がない場合は追加してください</h5>
          <%= form_with model: @place, url:  create_place_prefecture_path(@prefecture.id), local:true do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
           <p><span style="color: #000; margin-right: 5px;">山名</span> <%= f.text_field :name %></p> 
            <p><span style="color: #000; margin-right: 5px;">かな</span><%= f.text_field :name_kana %></p>
            <%= f.hidden_field :prefecture_id, value: @prefecture.id %>
            <%= f.submit '場所を追加する', class:"btn-add" %>
          <% end %>
        </div>
      </div>
    </div>
    <!--山名追加用フォーム-->
   
    
  
    <!--山名表示部分-->
    <div class="row text-center" style="margin: 10px auto;">
      <div class="col-md-8" style="margin: 10px auto;">
        <div class="box">
          <% @places.each_with_index do |place, i| %>
           <div style="display: inline-block;">
                <%= link_to place.name, show_place_prefecture_path(place.id), class:"btn btn-info btn-lg m-2" %> 
                <% if user_signed_in? %>
                  <% if current_user.admin? %>
                    <%= link_to '', destroy_place_prefecture_path(place.id), method: :delete, class: 'fas fa-trash-alt',data: { confirm: '削除しますか？' } %>
                  <% end %>
                <% end %>
            </div>
            <!--4つごとに列を改行する-->
           <% if (i+1)%4 == 0 %> <br> <br> <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <!--山名表示部分-->
   
</div>