<div class="container">
  <div class="row text-center">
    <!--都道府県情報表示部分-->
    <div class="col-md-6" style="margin: 0px auto;">
      <div class="box">
        <h1><%= @prefecture.prefecture_name %></h1>
        <%= link_to '都道府県一覧へ', prefectures_path %><br>
        <%= image_tag "prefectures/prefecture#{@prefecture.id}.png", :size =>'300x300' %>
      </div>
    </div>
  </div>
    <!--都道府県情報表示部分-->
   
    
    <!--山名追加用フォーム-->
    <div class="row text-center">
      <div class="col-md-8" style="margin: 0px auto;">
        <div class="box">
          <h5>お探しの山がない場合は追加してください</h5>
          <%= form_with model: @place, url: step2_create_place_path(@prefecture.id), local:true do |f| %>
            <span>山名</span> <%= f.text_field :name %>
            <span>かな</span><%= f.text_field :name_kana %>
            <%= f.hidden_field :prefecture_id, value: @prefecture.id %>
            <%= f.submit '+', class:"btn-add" %>
          <% end %>
        </div>
      </div>
    </div>
    <!--山名追加用フォーム-->
   
    
  
    <!--山名表示部分-->
    <div class="row text-center" style="margin: auto;">
      <div class="col-md-8" style="margin: 0px auto;">
        <div class="box">
          <% @places.each_with_index do |place, i| %>
           <div style="display: inline-block;">
             <div class="btn btn-light"> <%= place.name %> </div>
             <%#= link_to place.name, mountain_path(place, place_id: place.id ), class:"btn btn-light" %>
            </div>
           <% if (i+1)%5 == 0 %> <br> <br> <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <!--山名表示部分-->
   
</div>