<div class="container">
	<div class="row text-center">
    <div class="col-md-6" style="margin: 0px auto;">
      <div class="box">
        <h1 style="color: #fff;">アイテムジャンル</h1>
      </div>
    </div>
   
    <!--新規アイテムジャンル登録フォーム-->
    <% if user_signed_in? %>
      <% if current_user.admin? %> 
        <div class="col-md-12" style="color: #fff; ">
          <div class="box">   
            <h3>アイテムジャンル新規登録</h3>
            <%= form_with model: @item_genre, url: item_genres_path, local:true do |f| %><br>
            <%= render 'layouts/error_messages', model: f.object %>
              <span>アイテムジャンル(名前) <%= f.text_field :name %> </span> 
              <span>アイテムジャンル(かな) <%= f.text_field :name_kana %> </span><br>
              <br>
              <span><%= f.attachment_field :genre_image %></span><br>
              <%= f.radio_button :is_active, true, :checked => true  %> 有効
              <%= f.radio_button :is_active, false %> 無効 <br>
              <%= f.submit '追加', class:"btn btn-primary" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
	  <!--新規アイテムジャンル登録フォーム-->
	
	  <!--アイテムジャンル一覧ページ-->
		<div class="col-md-12">
				<div class="box">
							<% @item_genres.each do |item_genre| %>
								<div class="col-md-3 card text-center" style="border-radius: 20px; border:solid 2px #333; display: inline-block;">
								<h6 class="card-title" style="font-size: 20px;"><%= item_genre.name %></h6>
									<!--Seedにあるオリジナルの場合はもともとあった画像を使う。-->
									<% if item_genre.is_original? %>
  										<%= link_to item_genre_path(item_genre.id) do %>
  									    <!--アイテムジャンルの画像が用意できるまでNoImageを使う-->
  									    <%#= image_tag "item_genres/item_genre#{item_genre.id}.png", :size =>'150x150' %>
  									    <%= image_tag "no_image.png", :size =>'150x150' %>
  									  <% end %>
  								<!--追加されたジャンルの場合はアップされた画像を利用する-->
									<% else %>
    									<%= link_to item_genre_path(item_genre.id) do %>
    										<%= attachment_image_tag item_genre, :genre_image, format: 'png', size:"150x150", fallback: "no_image.png" %>
    									<% end %>
									<% end %>
								</div>
							<% end %>
				</div>
			</div>
			<!--アイテムジャンル一覧ページ-->
	</div>
</div>

