<div class="container">
  <div class="row text-center">
    <div class="col-md-6" style="font-size: 30px; color: #fff; margin: 0 auto;">
      <div class="box text-center">編集フォーム </div> 
    </div>
      <div class="col-md-12">
      <div class="box">
      <%= form_with model: @post, url: post_path(@post.id), local:true do |f| %>
      
      <div class="col-md-3 post-content">
        場所<br>
        <div style="font-size: 20px;" ><%= @post.prefecture.prefecture_name %>・<%= @post.place.name %> </div>
        
      </div> 
      
      <div class="col-md-3 post-content" >
        アイテムジャンル<br>
        <div style="font-size: 20px;"> <%= @post.item_genre.name%> </div>
        
      </div>
      
      <div class="col-md-3 post-content" >
        日時<br>
        <%= f.date_field :found_day %> 
      </div>
      
      <div class="col-md-10 post-content" >
      <div style="font-size: 20px;"> 写真</div> <br>
      <%= f.attachment_field :post_images_images, multiple: true %>
      </div>
      
      <div class="col-md-10 post-content"  >
      <div style="font-size: 20px;">詳細情報</div> <br>
      <%= f.text_area :detail,  class: "form-control mb-1", rows: "4" %>
      </div>
      
      <div class="col-md-5 post-content" >
      <div style="font-size: 20px;">届け先</div>
      <%= f.text_field :strage_place, class: "form-control mb-1" %>  
      </div>
      
      <br>
        <%= f.submit '変更', class:"btn-post" %>
      <% end %>
      
     <div class="col-md-6 post-content">
     <% if current_user.id == @post.user_id || current_user.admin?  %>
       <%= link_to '削除', post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger fas fa-trash"%>
     <% end %>
      <%= link_to '戻る', :back,  class:"fas fa-undo"%>
     </div>
      
      
  </div>
</div>

