<h2>投稿ページ</h2>
<div class="col-lg-12">
<%= form_with model: @post, url: post_path, local:true do |f| %>
<h3>都道府県・山名</h3> 
<%= @post.prefecture.prefecture_name %>・<%= @post.place.name %>
<%= f.hidden_field :prefecture_id, value: @post.prefecture.id %>
<%= f.hidden_field :place_id, value: @post.place.id %>
<h3>アイテムジャンル</h3>
<%= @post.item_genre.name%>
<%= f.hidden_field :item_genre_id, value: @post.item_genre.id %>
<h3>日時</h3>
<%= f.date_field :found_day %> 
<h3>写真</h3>
<%= f.attachment_field :post_images_images, multiple: true %>
<h3>詳細情報</h3>
<%= f.text_field :detail,  class: "form-control mb-2", placeholder: "拾った物や場所の詳細について教えて下さい。" , rows: "4" %>
<h3>届け先</h3>
<%= f.text_field :strage_place, class: "form-control mb-1", placeholder: "例：xxx小屋,〇〇の交番" %>  

<%= f.submit '変更', class:"btn btn-primary" %>
<% end %>

<%= link_to '削除', post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-sm btn-danger"%>