<div class="container pt-5">
<div class="row mb-3">
<div class="col-lg-8 offset-lg-2">
<h4>場所</h4>
<h4> <%= "#{@post.prefecture.prefecture_name} #{@post.place.name}" %> </h4>

<h4>アイテムジャンル</h4>
<h4><%= @post.item_genre.name %></h4>

<h4>写真</h4>
<% if @post.post_images.present? %>
  <% @post.post_images.each do |image| %>
  <%= attachment_image_tag image, :image, :fill, 200, 200 %>
  <% end %>
<% else %>
  <%= image_tag 'no_image.png', size: '200x200' %>
<% end %>

<h4>詳細情報</h4>          
<%= @post.detail %>

<h4>届け先</h4>
<h6><%= @post.strage_place %></h6>


<!--コメント一覧部分-->
<br>
<h5>コメント一覧</h5>

<% @comments.each do |comment|%>
  <%= comment.user.name %><br>
  <%= comment.content %>
  <%= comment.updated_at %>
  <%= link_to '編集', edit_post_comment_path(@post.id, comment.id), class: "btn btn-primary"%>
<% end %>
<!--コメント一覧部分-->

<!--コメント投稿部分-->
<%= form_with model:[@post, @comment],  local: true do |f| %>
  <%= f.text_area :content, class: "form-control mb-3", placeholder: "コメント" , rows: "4" %>
  <%= f.submit 'コメント投稿', class: "btn btn-primary" %>
<% end %>
<!--コメント投稿部分-->

</div>
</div>
<%= link_to '投稿編集', edit_post_path(@post.id) %>
<br>
<%= link_to "投稿一覧へ", posts_path %>