<!DOCTYPE html>
<html>
  <head>
    <title>Yamanootoshimono</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/d7433381ba.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <!--Noticeを表示するための記述-->
  <% if notice.present? %>
      <h3 class="alert alert-success"><%= flash[:notice] %></h3>
    <% end %>
    
    <% if alert.present? %>
      <h3 class="alert alert-danger"><%= flash[:alert] %></h3>
    <% end %>
  <!--Noticeを表示するための記述-->
  <body>
    
    <%= yield %>
  </body>
</html>
