<h1>アイテムジャンル一覧</h1>


	    <h3>ジャンル新規登録</h3>
        <%= form_with model: @item_genre, url: admin_item_genres_path, local:true do |f| %>
         <span>アイテムジャンル(名前)</span> <%= f.text_field :item_genre_name %>
         <span>アイテムジャンル(かな)</span><%= f.text_field :item_genre_kana %>
         <span><%= f.attachment_field :genre_image %></span>
          <%= f.radio_button :is_active, true, :checked => true  %>  有効
          <%= f.radio_button :is_active, false %>  無効
          <%= f.submit '追加', class:"btn btn-primary" %>
        <% end %>
        
  	    <table class="item_genre_info has_border">
			<thead>
				<tr>
					<th>ジャンル名</th>
					<th>状態</th>
				<th></th>
				</tr>
			</thead>
			<tbody>
				<% @item_genres.each do |item_genre| %>
					<tr>
						<td>
		          <%= link_to admin_item_genre_path(item_genre.id) do %>
		            <%= attachment_image_tag item_genre, :genre_image, format: 'jpeg', size:"100x100", fallback: "no_image.jpg" %>
		          <% end %>
		        </td>
						<td><%= link_to item_genre.item_genre_name, item_genre_path(item_genre.id), class: "underline" %></td>
						<td>
							<% if item_genre.is_active? %>
								<span class="text-active">有効</span>
							<% else %>
								<span class="text-invalid">無効</span>
							<% end %>
						</td>
						<td class="text-center"><%= link_to "編集", edit_admin_item_genre_path(item_genre.id), class: "btn btn-success" %></td>
					</tr>
				<% end %>
			</tbody>
		</table>